body{
background-color: skyblue;
    color: black;
    padding: 20px;
}
p {
    color: #3d3a3a;
}
h1 {
    color:lightcoral;
}
#input {
    background-color: white;
    padding: 20px;
    width: 200px;
    border: #3d3a3a solid 3px;
    border-radius: 5px;
}
#error  {
color:lightcoral;
}

#outText {
    color: black;
}